.sectionFive{
    background-color: var(--dark);
    padding: 50px 8%;
    display: flex;
    justify-content: space-evenly;
    .a{
        .b{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;   
            
            img{
                width: 48px;
                height: 42px;
                border-radius: 12px;      
        }
      
        
        }
        h3{
            color: white;
            margin-bottom: 10px;

        }
        p{
            color: rgb(209, 180, 180);
            padding: 4px 0;
        }
            
        .logo{
            margin: 20px 70px;
            display: flex;
            gap: 20px;
        img{
            height: 32px;
            width: 32px;
        }
            .twitter{
                cursor: pointer;
            }
            .whatsapp{
                cursor: pointer;
            }
            .instagram{
                cursor: pointer;
            }
        
            
        }
        
    }
}