*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    // width: 100%;
}
:root{
    --light: rgb(223, 52, 223);
    --dark: rgb(128, 0, 128);
    --grey: rgb(100, 88, 88)
}

.homepage{
    font-family: 'Lato';

    .sectionOneContainer{
        
    }
}